.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; /* начальная высота шапки */
    padding: 0 20px;
    background-color: #3BA3D0;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .logo {
    height: 50px;
    width: auto; 
  }
  
  @media screen and (max-width: 768px) {
    .header {
      justify-content: center;
    }
  }
  